$pantone-black-cp: #2f2c27;
$pantone-114-cp:   #ea961c;
$pantone-121-cp:   #f6d86f;
$pantone-159-cp:   #d0651e;
$pantone-166-cp:   #e06c2a;
$pantone-168-cp:   #6f3b20;
$pantone-172-cp:   #e06e37;
$pantone-185-cp:   #d93740;
$pantone-199-cp:   #d82949;
$pantone-206-cp:   #d82455;
$pantone-215-cp:   #aa2157;
$pantone-266-cp:   #6a4593;
$pantone-275-cp:   #2c2855;
$pantone-313-cp:   #0098c7;
$pantone-349-cp:   #1e7040;
$pantone-381-cp:   #cbd421;
$pantone-459-cp:   #e4d777;
$pantone-526-cp:   #743a8d;
$pantone-602-cp:   #ede88a;
$pantone-1615-cp:  #8c4e20;
$pantone-1655-cp:  #e17025;
$pantone-1935-cp:  #cc3057;
$pantone-2129-cp:  #6593c8;
$pantone-2172-cp:  #2880bf;

@import "pantone-cp-map";
