$pantone-13-0815-tpg: #e6d3a6;
$pantone-13-1404-tpg: #f0cfc3;
$pantone-14-4110-tpg: #b6c0d6;
$pantone-14-4112-tpg: #aabdd4;
$pantone-16-5938-tpg: #00a779;
$pantone-18-1750-tpg: #be3455;
$pantone-banana-crepe-tpg: $pantone-13-0815-tpg;
$pantone-heather-tpg: $pantone-14-4110-tpg;
$pantone-mint-tpg: $pantone-16-5938-tpg;
$pantone-pale-dogwood-tpg: $pantone-13-1404-tpg;
$pantone-skyway-tpg: $pantone-14-4112-tpg;
$pantone-viva-magenta-tpg: $pantone-18-1750-tpg;
