@import "pantone-cp";

$pantone-cp: (
  "black":       $pantone-black-cp,
  "cool-gray-1": $pantone-cool-gray-1-cp,
  "red-032":     $pantone-red-032-cp,
  "107":         $pantone-107-cp,
  "114":         $pantone-114-cp,
  "123":         $pantone-123-cp,
  "121":         $pantone-121-cp,
  "129":         $pantone-129-cp,
  "148":         $pantone-148-cp,
  "158":         $pantone-158-cp,
  "159":         $pantone-159-cp,
  "166":         $pantone-166-cp,
  "168":         $pantone-168-cp,
  "172":         $pantone-172-cp,
  "175":         $pantone-175-cp,
  "185":         $pantone-185-cp,
  "188":         $pantone-188-cp,
  "189":         $pantone-189-cp,
  "192":         $pantone-192-cp,
  "199":         $pantone-199-cp,
  "200":         $pantone-200-cp,
  "206":         $pantone-206-cp,
  "215":         $pantone-215-cp,
  "221":         $pantone-221-cp,
  "224":         $pantone-224-cp,
  "266":         $pantone-266-cp,
  "275":         $pantone-275-cp,
  "286":         $pantone-286-cp,
  "290":         $pantone-290-cp,
  "313":         $pantone-313-cp,
  "317":         $pantone-317-cp,
  "349":         $pantone-349-cp,
  "351":         $pantone-351-cp,
  "356":         $pantone-356-cp,
  "358":         $pantone-358-cp,
  "363":         $pantone-363-cp,
  "369":         $pantone-369-cp,
  "381":         $pantone-381-cp,
  "386":         $pantone-386-cp,
  "395":         $pantone-395-cp,
  "459":         $pantone-459-cp,
  "461":         $pantone-461-cp,
  "526":         $pantone-526-cp,
  "546":         $pantone-546-cp,
  "573":         $pantone-573-cp,
  "576":         $pantone-576-cp,
  "602":         $pantone-602-cp,
  "640":         $pantone-640-cp,
  "719":         $pantone-719-cp,
  "732":         $pantone-732-cp,
  "1205":        $pantone-1205-cp,
  "1365":        $pantone-1365-cp,
  "1525":        $pantone-1525-cp,
  "1585":        $pantone-1585-cp,
  "1615":        $pantone-1615-cp,
  "1625":        $pantone-1625-cp,
  "1655":        $pantone-1655-cp,
  "1915":        $pantone-1915-cp,
  "1935":        $pantone-1935-cp,
  "2042":        $pantone-2042-cp,
  "2090":        $pantone-2090-cp,
  "2128":        $pantone-2128-cp,
  "2129":        $pantone-2129-cp,
  "2172":        $pantone-2172-cp,
  "2244":        $pantone-2244-cp,
  "2252":        $pantone-2252-cp,
  "2317":        $pantone-2317-cp,
  "2344":        $pantone-2344-cp,
  "2391":        $pantone-2391-cp,
  "2449":        $pantone-2449-cp,
  "2459":        $pantone-2459-cp,
  "2464":        $pantone-2464-cp,
  "2470":        $pantone-2470-cp,
  "2985":        $pantone-2985-cp,
  "3268":        $pantone-3268-cp,
  "3415":        $pantone-3415-cp,
  "3546":        $pantone-3546-cp,
  "3561":        $pantone-3561-cp,
  "4545":        $pantone-4545-cp,
  "5565":        $pantone-5565-cp,
  "5787":        $pantone-5787-cp,
  "7485":        $pantone-7485-cp,
  "7487":        $pantone-7487-cp,
  "7488":        $pantone-7488-cp,
  "7501":        $pantone-7501-cp,
  "7517":        $pantone-7517-cp,
  "7525":        $pantone-7525-cp,
  "7548":        $pantone-7548-cp,
  "7618":        $pantone-7618-cp,
  "7636":        $pantone-7636-cp,
  "7703":        $pantone-7703-cp,
  "7847":        $pantone-7847-cp
);
