$pantone-black-cp:       #2f2c27;
$pantone-cool-gray-1-cp: #ddddda;
$pantone-107-cp:         #fde724;
$pantone-114-cp:         #ea961c;
$pantone-121-cp:         #f6d86f;
$pantone-123-cp:         #f2c541;
$pantone-129-cp:         #f6d15a;
$pantone-148-cp:         #f4d199;
$pantone-158-cp:         #e47e1a;
$pantone-159-cp:         #d0651e;
$pantone-166-cp:         #e06c2a;
$pantone-168-cp:         #6f3b20;
$pantone-172-cp:         #e06e37;
$pantone-175-cp:         #77402e;
$pantone-185-cp:         #d93740;
$pantone-188-cp:         #7d2935;
$pantone-189-cp:         #ebb3bc;
$pantone-192-cp:         #db3b50;
$pantone-199-cp:         #d82949;
$pantone-200-cp:         #bf2b45;
$pantone-206-cp:         #d82455;
$pantone-215-cp:         #aa2157;
$pantone-221-cp:         #9c2452;
$pantone-224-cp:         #d977a9;
$pantone-266-cp:         #6a4593;
$pantone-275-cp:         #2c2855;
$pantone-286-cp:         #24509a;
$pantone-290-cp:         #c0e1ed;
$pantone-313-cp:         #0098c7;
$pantone-317-cp:         #c4e1de;
$pantone-349-cp:         #1e7040;
$pantone-351-cp:         #bedbbf;
$pantone-356-cp:         #008139;
$pantone-358-cp:         #b4d4ad;
$pantone-363-cp:         #4f9237;
$pantone-369-cp:         #72b431;
$pantone-381-cp:         #cbd421;
$pantone-386-cp:         #e7e36d;
$pantone-395-cp:         #e8df2f;
$pantone-459-cp:         #e4d777;
$pantone-461-cp:         #e4e49e;
$pantone-526-cp:         #743a8d;
$pantone-573-cp:         #cae2d6;
$pantone-576-cp:         #779b3d;
$pantone-602-cp:         #ede88a;
$pantone-640-cp:         #0085be;
$pantone-719-cp:         #eed0ad;
$pantone-732-cp:         #6b431c;
$pantone-1205-cp:        #f9e49d;
$pantone-1365-cp:        #edae5a;
$pantone-1525-cp:        #cb6423;
$pantone-1585-cp:        #e58426;
$pantone-1615-cp:        #8c4e20;
$pantone-1625-cp:        #ebab8b;
$pantone-1655-cp:        #e17025;
$pantone-1915-cp:        #e16f8f;
$pantone-1935-cp:        #cc3057;
$pantone-2042-cp:        #6f3639;
$pantone-2128-cp:        #92b2d9;
$pantone-2129-cp:        #6593c8;
$pantone-2172-cp:        #2880bf;
$pantone-2244-cp:        #227e65;
$pantone-2252-cp:        #009349;
$pantone-2317-cp:        #b79265;
$pantone-2344-cp:        #e18979;
$pantone-2391-cp:        #1183a3;
$pantone-2449-cp:        #4c221a;
$pantone-2459-cp:        #44b598;
$pantone-2470-cp:        #9a7d5b;
$pantone-3268-cp:        #1caf94;
$pantone-3415-cp:        #00845a;
$pantone-3546-cp:        #ca1d20;
$pantone-3561-cp:        #89b613;
$pantone-4545-cp:        #e1d7ae;
$pantone-5565-cp:        #849e8c;
$pantone-5787-cp:        #bdc293;
$pantone-7485-cp:        #e6ebce;
$pantone-7488-cp:        #92bf55;
$pantone-7487-cp:        #a9cb77;
$pantone-7501-cp:        #e1cda6;
$pantone-7517-cp:        #884728;
$pantone-7525-cp:        #a16a4d;
$pantone-7548-cp:        #f6d03a;
$pantone-7618-cp:        #cb734f;
$pantone-7636-cp:        #c02250;
$pantone-7703-cp:        #1aa1bd;

@import "pantone-cp-map";
